@(status: Option[MLProposalStatus.Value], moreScripts: Html = Html(""))(content: Html)

@import MLProposalStatus._

<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>MilmSearch admin</title>
    <link href="@routes.Assets.at("admin/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("admin/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("admin/css/tuning.css")" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="@routes.Assets.at("admin/img/favicon.ico")" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="@routes.Assets.at("admin/img/favicon.ico")" type="image/vnd.microsoft.icon" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="@routes.Admin.index">
            <img src="@routes.Assets.at("admin/img/logo_admin.png")"
                 alt="MilmSearch admin" title="MilmSearch admin">
          </a>
          <ul class="nav">
          @Seq((New,      "審査待ち"),
               (Accepted, "承認済み"),
               (Rejected, "却下済み")).map { tpl =>
            <li class="@if(status == Some(tpl._1)) {active}">
              <a href="@routes.AdminMLProposals.list(tpl._1.toString)">@tpl._2</a>
            </li>
          }
            <li>
              <a href="@routes.AdminSiteSettings.showEditForm()">サイト設定</a>
            </li>
            <a class="btn tune_btn-user" href="@routes.Application.index">ユーザー側サイト</a>
          </ul>
        </div>
      </div>
      @content
    </div>
    <footer id="footer">
      <div class="container">
        <a class="pull-right" href="@routes.Admin.index">ページトップへ</a>
        <p>Copyright © MilmSearch All Rights Reserved.</p>
      </div>
    </footer>
  
    <script src="@routes.Assets.at("admin/js/jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("admin/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Admin.javascriptRoutes" type="text/javascript"></script>
    @moreScripts
  </body>
</html>
