@(page: Page[_])

@if(page.totalResults > 0) {   
  
  @(page.start)〜@(page.end)件&ensp;/&ensp;@(page.totalResults)件<a href="#">&lt;&lt;</a>
  
  @page.prevIndex.map { idx =>
    <a href="#">&gt;&gt;</a>
  }.getOrElse {
  }
  
  @for(pageNum <- 1L to page.totalPages) {
    @defining((pageNum - 1) * page.itemsPerPage) { idx =>
      @if(page.startIndex == idx) {
        <a href="" class="current">@pageNum</a>
      } else {
        <a href="#">@pageNum</a>
      }
    }
  }
  
  @page.nextIndex.map { idx =>
    <a href="#">&gt;&gt;</a>
  }.getOrElse {
  }  
}