@(page: Page[_], navLink: Long => Call)

@if(page.totalResultCount > 0) { 
  @{page.startIndex + 1}〜@{page.startIndex + page.items.length}件&ensp;/&ensp;@{page.totalResultCount}件

  @page.prevIndex.map { idx =>
    <a href="@navLink(idx)">Prev</a>
  }.getOrElse {
    <a href="">Prev</a>
  }

  @for(pageNum <- 1L to page.totalPageNum) {
    @defining((pageNum - 1) * page.itemsPerPage) { idx =>
      @if(page.startIndex == idx) {
        <a href="">@pageNum</a>
      } else {
        <a href="@navLink(idx)">@pageNum</a>
      }
    }
  }

  @page.nextIndex.map { idx =>
    <a href="@navLink(idx)">Next</a>
  }.getOrElse {
    <a href="">Next</a>
  }
}