@(mlpForm: Form[MLProposal])

@import helper._

@main("MilmSearch登録申請の確認 : MilmSearch") {
  <h1>メーリングリストの登録申請</h1>
  <p>
    以下の内容でよろしいですか？<br>
    問題なければ、「申請する」ボタンを押して登録申請は完了です。
  </p>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="tune_th-250 tune_th-head">連絡先メールアドレス</th>
        <td>@mlpForm("proposerEmail").value</td>
      </tr>
      <tr>
        <th class="tune_th-250 tune_th-head">メーリングリストのタイトル</th>
        <td>@mlpForm("mlTitle").value</td>
      </tr>
      <tr>
        <th class="tune_th-250 tune_th-head">メーリングリスト公開アーカイブのURL</th>
        <td>@mlpForm("archiveURL").value</td>
      </tr>
      <tr>
        <th class="tune_th-250 tune_th-head">ご質問やコメントをどうぞ</th>
        <td>@mlpForm("message").value</td>
      </tr>
    </tbody>
  </table>

  <div class="tune_stdecide">
    @form(action = routes.MLProposals.modify, 'class -> "desidebtn") {
      <input type="submit" class="btn btn-large tune_btn-decide" name="modify" value="修正する">
      
      @inputHidden(mlpForm("proposerEmail"))
      @inputHidden(mlpForm("proposerEmail2"))
      @inputHidden(mlpForm("mlTitle"))
      @inputHidden(mlpForm("archiveURL"))
      @inputHidden(mlpForm("message"))
      @inputHidden(mlpForm("agreement"))
    }

    @form(action = routes.MLProposals.save, 'class -> "desidebtn") {
      <input type="submit" class="btn btn-large btn-primary tune_btn-decide" value="申請する">
      
      @inputHidden(mlpForm("proposerEmail"))
      @inputHidden(mlpForm("proposerEmail2"))
      @inputHidden(mlpForm("mlTitle"))
      @inputHidden(mlpForm("archiveURL"))
      @inputHidden(mlpForm("message"))
      @inputHidden(mlpForm("agreement"))
    }
  </div>
}
