@main("ML登録申請完了 : MilmSearch") {
      <h1 id="pagetitle">メーリングリストの登録申請が完了しました</h1>
  	  <div class="grid archive">
          <div class="content">
            <p class="lead">
              <strong class="largetext">登録申請をしていただき、ありがとうございました。</strong><br>
              メーリングリストや申請内容を審査後、登録可能な場合は数日〜1週間程度でMilm Searchに登録されます。<br>
              しばらくお待ちください。<br>
              ※メーリングリストで扱っている内容や、ご利用のメーリングリストシステムによっては、登録できない場合があります。<br>
              　あらかじめご了承ください。
            </p>
            <div class="img_flow row">
              <h2>登録の流れ</h2>
              <div class="f_arrow column span-4"><p>フォームから登録申請</p></div>
              <div class="f_arrow column span-4"><p>運営チームによるML審査</p></div>
              <div class="column span-4"><p>問題がなければ登録</p></div>
            </div>
            <div class="decidearea">
              <a class="btn large left" href="@routes.Application.index">トップページへ</a>
            </div>
          </div>
      </div>
}
