@main("MilmSearch") {
    
  <section id="top-keyv">
    <div class="container">
      <h1>オススメのメーリングリスト、<br>教えてください！</h1>
      <p>
        あなたがいつもチェックしているそのML、MilmSearchでまとめます！<br />
        Web上でアーカイブが公開されているお気に入りのMLを私たちに教えてください。
      </p>
      <p>Mailmanを利用したMLに対応しています</p>
      <p>ご利用のアーカイブソフトがわからない場合もお気軽に！対応ソフトのリクエストも受付中！</p>
      <nav>
        <a class="btn btn-primary pull-right btn-large btn-block" 
           href="@routes.MLProposals.create">MLを登録する</a>
        <a class="btn pull-right btn-block" 
           href="@routes.MLs.list(0, 10)">登録されているMLを見る</a>
      </nav>
    </div>
  </section>
  <div class="topmainArea">
    <div class="container">
      <section class="top-sec">
        <h2>登録の流れ</h2>
        <div id="top-flowparent">
          <div class="top-flow01">
            <h3>1.登録申請</h3>
            <p>普段購読しているMLを、<br />登録フォームから教えてください！</p>
          </div>
          <div class="top-flow02">
            <h3>２.審査</h3>
            <p>MilmSearchに登録できる<br />タイプのMLかどうか調べます</p>
          </div>
          <div class="top-flow03">
            <h3>3.登録完了</h3>
            <p>登録したMLの過去のメールが<br />MilmSearchで読み込まれます</p>
          </div>
          <div class="top-flow04">
            <h3>4.MLを見る</h3>
            <p>現在は、登録されているMLを<br />一覧表示するところまでですが…</p>
          </div>
          </div>
          <div class="top-flow05">
            <h3>5.これからできることが増えていきます！</h3>
            <p>
              MLを使いやすくカテゴリで分類！
              キーワードなどでMLやスレッドを検索！
              お気に入りMLをまとめて閲覧！
              Mailman以外のアーカイブソフトにも対応！？
              MLの返信数や時間帯などを解析してホットなMLをおすすめ！
            </p>
          </div>
      </section>
      <section class="top-sec">
        <h2>MilmSearchは、これから育っていく<br />オープンソースプロジェクトです。</h2>
        <p>
          メーリングリストのアーカイブには<br>
          多くの有益な情報が眠っているのに、探し出すのは大変…
          簡単にメーリングリストを検索できる方法って作れないのかな？
        </p>
        <p>
          とあるエンジニアのこんな思いつきから、<br>
          MilmSearchプロジェクトはスタートしました。<br>
          これからどんどんバージョンアップしていきますのでお楽しみに！
        </p>
      </section>
    </div>
  </div>
    
}
