@main("MilmSearch") {
  <div class="mainArea">
    <div class="container">
      <section>
        <header class="page-header">
          <h1>お問い合わせ</h1>
        </header>
        <p>MilmSearchについてのお問い合わせは、下記のメールアドレスまでご連絡ください。</p>
        <p><strong>webmaster@@milmsearch.org</strong></p>
        <p>
          ご意見・ご感想もお待ちしております。<br>
          お問い合わせ内容を確認後、数日〜一週間程度でご連絡いたします。<br>
          しばらくお待ちください。
        </p>
        <nav>
        <a class="btn btn-primary btn-large" href="mailto:webmaster@@milmsearch.org">問い合わせる</a>
        </nav>
        <p><small>※メーラーが開きます</small></p>
      </section>
    </div>
  </div>
}
