@main("MilmSearch") {
  <h1 id="pagetitle">プライバシーポリシー</h1>
  <div class="grid archive content">
    <div class="img_flow row">
      <h2>1. プライバシーポリシーの適用範囲</h2>
    </div>
    <p>
      1) プライバシーポリシーは、MilmSearch(以下「当サイト」という)においてMilmSearchプロジェクト(以下「当プロジェクト」という)が利用者より収集する個人情報の取扱いに関して適用されます。<br>
      2) 当サイトにおいて、当プロジェクトの広告主等が主体となって、その掲載した広告の中でアンケート等を実施し、利用者の個人情報を収集する場合があります。この場合は、当プロジェクトは、メディアとして広告枠を広告主に提供しているにすぎず、広告主が個人情報の収集・利用・保有・管理等の主体となります。広告主は、独自のプライバシーポリシー等を定め、当該プライバシーポリシー等に従い個人情報を取り扱う独立した事業者であり、このような形で収集された個人情報については、当プロジェクトは保有を行わず、従ってプライバシーポリシーは適用されません。<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>2. 用語の定義</h2>
    </div>
    <p>
      プライバシーポリシーにおいて個人情報とは、個人情報保護法に定める個人情報（生存する個人に関する情報であり、特定の個人を識別可能なものを言い、氏名、住所、電話番号等を含みます。）並びに特定の個人と結びついて使用されるメールアドレス、パスワードなどの情報及びそれらと一体となった趣味、家族構成、年齢その他の個人に関する属性情報をいうものとします。<br>
    </p>
  </div>
  
  <div class="grid archive content">
    <div class="img_flow row">
      <h2>3. 収集する個人情報及び収集方法</h2>
    </div>
    <p>
      1) 利用者が当サイトを利用するために、以下の情報をご提供いただく場合があります。<br>
        ・氏名<br>
        ・メールアドレス<br>
        ・生年月日<br>
        ・その他当サイト内に当プロジェクトが定める入力フォームに利用者が入力する情報<br>
      2) 利用者が当サイトの利用において、他のサービスと連携を許可することにより、当該他のサービスから情報をご提供いただく場合があります。<br>
      3) 利用者が当サイトを利用するにあたって、以下の情報を収集する場合があります。<br>
        ・端末情報<br>
        ・ログ情報<br>
        ・Cookie及び匿名ID<br>
        ・その他当サイト運営のために必要な情報で、妥当な方法で取得可能な情報<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>4. 利用目的</h2>
    </div>
    <p>
      本サービスの提供にかかわる個人情報の具体的な利用目的は以下のとおりです。<br>
        ・本サービスに関する登録の受付、本人確認、本サービスの提供、意地、保護及び改善のため<br>
        ・本サービスに関するご案内、お問い合わせなどへの対応のため<br>
        ・本サービスに関する当サイトの規約、ポリシー等に違反する行為に対する対応のため<br>
        ・本サービスの利用に関する統計データを個人を識別できない形式に加工して作成するため<br>
        ・本サービスまたは第三者の広告の配信または表示のため<br>
        ・マーケティングに利用するため<br>
        ・上記の利用目的に付随する利用目的のため<br>
    </p>
  </div>
  
  <div class="grid archive content">
    <div class="img_flow row">
      <h2>5. 個人情報の第三者への開示</h2>
    </div>
    <p>
      当プロジェクトは、原則として、利用者の個人情報を第三者に開示することはありません。<br>但し、以下のような場合、その必要性の有無を十分検討した上で、個人情報を開示することがあります。<br>・当プロジェクトが利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合<br>・合併その他の事由による事業の承継に伴って個人情報が提供される場合<br>・国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を推敲することに  対して協力する必要がある場合であって、利用者の移行を得ることによって当該事務の遂行に  支障をおよぼすおそれがある場合<br>・その他、個人情報保護法とその他の法令で定められる場合<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>6. 個人情報の開示</h2>
    </div>
    <p>
      当プロジェクトは、利用者から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、利用者ご本人からのご請求であることを確認した上で、利用者に対し、遅滞なく開示を行います。(当該個人情報が存在しないときにはその旨を通知いたします。)但し、個人情報保護法その他の法令により、当プロジェクトが開示の義務を負わない場合は、この限りではありません。なお、個人情報の開示につきましては、手数料をいただく場合があります。<br>
    </p>
  </div>


  <div class="grid archive content">
    <div class="img_flow row">
      <h2>8. 個人情報の訂正及び利用停止等</h2>
    </div>
    <p>
      利用者は、自分の個人情報の開示を受け、訂正、追加又は削除を要求することができます。<br>
      個人情報の開示・訂正、追加又は削除に関する要望・お問い合わせは、以下のEmailアドレスまでご連絡下さい。<br>
      webmaster@@milmsearch.org　<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>9.プライバシーポリシーの変更及び通知</h2>
    </div>
    <p>
      当プロジェクトは、プライバシーポリシーを、事前の予告なく変更することがありますので、当サイト利用の際には、本ページの最新の内容をご確認ください。<br> 
    </p>
  </div>
}
