@main("MilmSearch") {
  <div class="mainArea">
    <div class="container">
      <section>
        <header class="page-header">
          <h1>プライバシーポリシー</h1>
        </header>
        <p>私たちは、個人情報についてなんとかかんとかダミーテキスト。</p>
        <section>
          <h2>●●●●について</h2>
          <p>
            ダミーです。<br>
            Web上に公開されているメーリングリストのアーカイブを収集し、検索することができるサービスです。<br>
            登録されているメーリングリストを一覧表示して、探している情報が載っていそうなメーリングリストを探すことができます。
          </p>
        </section>
        <section>
          <h2>●●●●について</h2>
          <p>
            ダミーです。<br>
          </p>
        </section>
        <section>
          <h2>●●●●について</h2>
          <p>
            ダミーです。<br>
            せっかく申請いただいておきながら恐縮ですが、以下の理由にあてはまる場合、登録ができない場合がございます。<br>
            1.メーリングリストで、MilmSearchが未対応のアーカイブソフトをご利用の場合。<br>
            2.メーリングリスト内で公序良俗に反する話題を扱っている場合。<br>
            申し訳ございませんが、ご了承いただけますようよろしくお願いいたします。
          </p>
        </section>
      </section>
    </div>
  </div>
}
