@main("MilmSearch") {
  <h1 id="pagetitle">利用規約</h1>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>前文</h2>
    </div>
    <p>
      MilmSearchプロジェクト(以下「当プロジェクト」という)が運営するMilmSearch(以下「当サイト」という)をご利用されるすべての方(以下「利用者」という)が当サイトをご利用される場合には、本規約の内容に同意いただいたものといたします。<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>1. 無保証および免責</h2>
    </div>
    <p>
      1) サービスやソフトウェア等に関して、アクセスの可能性、提供および使用の状態等について、当プロジェクトは一切の保証をいたしません。また、不具合やバグが生じないこと、および不具合やバグの修正についても、当プロジェクトは一切の保証をいたしません。<br>
      2) 利用者がサービスを通じて得る情報（検索サービスの検索結果として表示されたサイト、コンテンツ等を含み、これに限定されません。）につき、その完全性、正確性、確実性、有用性、合目的性、利用者の嗜好への合致等、またこのような情報を利用者が利用した結果に関して、当プロジェクトは一切の保証をいたしません。<br>
      3) 当プロジェクトの Web サイトから他の Web サイトへのリンクまたは他の Web サイトから当プロジェクトの Web サイトへのリンクが提供されている場合でも、当プロジェクトは、当プロジェクトの Web サイト以外の Web サイトおよびそこから得られる情報に関して如何なる理由に基づいても一切の責任を負わないものとします。特に、サービス中において広告等を行なっている広告主等との取引については、利用者と当該広告主等の責任で行なっていただくものであり、当プロジェクトでは何らの責任も負いません。<br>
      4) 当プロジェクトのサービスを利用するために利用者が使用するいかなる機器およびソフトウェア等について、当プロジェクトは一切の動作保証をいたしません。また、サービス利用の際に発生した、各種通信業者の利用などに関する費用は、利用者が自己責任において管理するものとし、当プロジェクトは一切の保証をいたしません。<br>
      5) 当プロジェクトによるサービスおよびソフトウェア等の提供の中断、停止、利用不能または変更、利用者のメッセージまたは情報の削除または消失、利用者の登録の抹消、サービスの利用によるデータの消失または機器の故障もしくは損傷、その他当プロジェクトのサービスおよびソフトウェア等に関連して利用者が被った損害について、当プロジェクトは賠償する責任を一切負わないものとします。<br>
      6) 利用者が、当プロジェクトから直接または間接に当プロジェクトのサービスまたはソフトウェア等に関する情報を得た場合であっても、当プロジェクトは利用者に対して本規約で規定する内容を超えた保証を行なうものではありません。<br>
      7) 利用者は、当プロジェクトのサービスおよびソフトウェア等を利用することが、利用者に適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとします。当プロジェクトは、利用者によるサービスおよびソフトウェア等の利用が、利用者に適用のある法令、業界団体の内部規則等に適合することを何ら保証するものではありません。<br>
      8) 当プロジェクトは、当サイト内のすべての情報、記事、画像等に、ウイルスなどの有害物が含まれていないこと、および第三者からの不正なアクセスのないこと、その他当サイトの安全性に関して一切の保証をしないものとします。<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>2. 情報の転載等の禁止</h2>
    </div>
    <p>
      1) 当サイトを構成するすべてのデータ、記事、画像等のすべての著作権は、当サイト及びメールや画像等の作成者に帰属します。利用者は、当プロジェクトが特段の事情がある と判断した場合を除き、当サイトの画像、データ及びプログラムを他のサイト、雑誌、広告等に転載できないものとします。ただし、利用者は、当プロジェクトの許諾を得た場合、当サイト上の記事及び文章をＷＥＢサイト上において転載及び引用することができるものとします。<br>
      2) 前項に違反して当サイトに掲載の情報等を無断で転載した場合、当プロジェクトは、同違反者に対し、著作権法に基づく各処置
        （警告、告訴、損害賠償請求、差止請求、名誉回復措置等請求等）を行います。<br>
    </p>　
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>3. 権利の帰属</h2>
    </div>
    <p>
      1) 当サイトを構成するすべてのプログラム、ソフトウェア、サービス、当プロジェクト及び当プロジェクトが提携する事業者等が提供するサービスなどに関する権利は、当プロジェクト、当プロジェクトが提携する事業者、プログラム等の権利者又は情報提供者等に帰属するものであり、利用者等は、同権利等を侵害する行為を一切行ってはなりません。<br>
      2) 利用者等は、当サイトを構成するすべてのプログラム、ソフトウェア等に対して侵害行為を行ってはなりません。<br>
      3) 本条の規定に違反して紛争が発生した場合、利用者等は、自己の費用と責任において、当該紛争を解決するとともに、いかなる場合も当プロジェクトを免責するものとします。<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>4. 損害賠償</h2>
    </div>
    <p>
      1) 利用者等が本規約、当サイト内の各規約又は各ガイドライン及び法令の定めに違反したことにより、当プロジェクト及び当プロジェクトが提携する事業者等を含む第三者に損害を及ぼした場合、同利用者等は、当該損害を賠償する責任を負い、いかなる場合も当プロジェクト及び当プロジェクトが提携する事業者等を含む第三者を免責するものとします。<br>
      2) 「3. 権利の帰属」に違反し当プロジェクト、当プロジェクトが提携する事業者等又は第三者に損害を与えた利用者等は、当プロジェクト、当プロジェクトが提携する事業者等及び他の利用者等又は第三者が受けたすべての損害を賠償する義務を負うものとします。<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>5. 各サービスの一時的な停止・終了</h2>
    </div>
    <p>
      1) 当プロジェクトは、以下の事由により、利用者に事前の通知なく、一時的に各サービスの提供を停止することができるものとします。尚、当プロジェクトは理由の如何によらず、当サービスが利用できなくなることによるすべての損害に対して一切の責任を負いません。<br>
        a) 各サービスの稼動状態を良好に保つため、当プロジェクトのシステム保守、点検、修理などを行う場合。<br>
        b) 火災、停電による各サービスの提供ができなくなった場合。<br>
        c) 天変地異などにより、各サービスの提供ができなくなった場合。<br>
        d) 利用者の通信機器の破損等の場合。<br>
        e) その他、運用上または技術上、各サービス提供の一時的な停止を必要とした場合。<br>
      2) 当プロジェクトは、前項の理由により各サービスの一時停止を行った場合において、各サービスの継続的な提供が困難だと判断した場合、利用者等に対して通知を行わず各サービスを終了することができるものとします。<br>
      3) 当プロジェクトは、運営上その他の理由により、予告なく当サイトを閉鎖できるものとします。<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>6. 合意管轄等</h2>
    </div>
    <p>
      1) 本規約に関連して、会員及び利用者と当プロジェクトとの間で紛争が生じた場合には、双方は、ともに誠意をもって協議するものとします。<br>
      2) 前項により協議をしても解決しない場合は、横浜地方裁判所を第一審の専属管轄裁判所とします。<br>
      3) 本規約の準拠法は、日本国法とします。<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>7. 利用者の行為</h2>
    </div>
    <p>
      1) 利用者が当サイトを利用して送受信する場合、同送受信内容は、利用者自らが責任を負うものとします。<br>
      2) 当プロジェクトは、本サービスを利用者にインターネットを経由して提供します。インターネットに接続するためのあらゆる機器、通信手段、ソフトウェア等は、利用者が自らの責任と費用において、適切に設置及び操作しなければなりません。同操作等について当プロジェクトは一切の責任を負いません。<br>
      3) 利用者は、利用者のインターネット接続環境等によって、本サービスを利用又は閲覧するために通信費等が別途必要となることに同意し、同通信費等の一切を同利用者が負担するものとします。<br>
      4) 利用者は、利用者のインターネット接続環境等によって、本サービスの一部を閲覧又は利用できない可能性があることを予め了承するものとします。<br>
    </p>
  </div>

  <div class="grid archive content">
    <div class="img_flow row">
      <h2>8. 本規約の変更</h2>
    </div>
    <p>
      当プロジェクトは、当プロジェクトの都合により、本規約の内容を必要に応じ予告なくして改定することができ、利用者は、当サイトを利用する際、その都度、本規約の内容を確認するものとします。改定後に利用者が各サービスを利用した場合には、改定に同意したものとみなします。なお、本ページを確認しなかったことに起因する直接または間接に生じた利用者及び第三者に与える損害については、その内容、態様の如何に係わらず、当プロジェクトは一切の責任を負わないものとします。<br>
    </p>
  </div>
}
