@main("MilmSearch") {
  <h1 id="pagetitle">利用規約</h1>

  <p>MilmSearchをご利用の前に、下記の規約をよくお読みになり、お申込みください。</p>
  <div class="grid archive content">
    <div class="img_flow row">
      <h2>●●●●について</h2>
    </div>
    <p>
      ダミーです。<br>
      Web上に公開されているメーリングリストのアーカイブを収集し、検索することができるサービスです。<br>
      登録されているメーリングリストを一覧表示して、探している情報が載っていそうなメーリングリストを探すことができます。
    </p>
  </div>
  <div class="grid archive content">
    <div class="img_flow row">
      <h2>●●●●について</h2>
    </div>
    <p>
      ダミーです。<br>
      公開メーリングリストを主催されているのであれば、ぜひ<a href="#">登録申請</a>を！<br>
      お申込みいただいたメーリングリストについて、運営チームで審査の後、MilmSearchに登録させていただきます。<br>
      審査結果のご連絡までは、数日かかることがあります。<br>
      ※現在、Mailmanでアーカイブされているメーリングリストのみに対応しています。<br>
      　その他のアーカイブソフトをご利用の方は、登録申請か<a href="#">お問い合わせ</a>から、ご利用のソフト名を教えてください。
    </p>
  </div>
  <div class="grid archive content">
    <div class="img_flow row">
      <h2>●●●●について</h2>
    </div>
    <p>
      ダミーです。<br>
      せっかく申請いただいておきながら恐縮ですが、以下の理由にあてはまる場合、登録ができない場合がございます。<br>
      1.メーリングリストで、MilmSearchが未対応のアーカイブソフトをご利用の場合。<br>
      2.メーリングリスト内で公序良俗に反する話題を扱っている場合。<br>
      申し訳ございませんが、ご了承いただけますようよろしくお願いいたします。
    </p>
  </div>
}
