@(request: search.SearchRequest, page: Page[Mail], mlOptions: List[search.MLOption], fromOptions: List[search.FromOption])

@import helper._
@import models.search._

@moreScripts = {
  <script type="text/javascript">
    $(function() {
        $("#mltitle_close").click(function() {
          $("#mltitle_list").remove();
          var ul = $("<ul />").attr("id", "mltitle_list");
          var mlOptions = $(".mlOptions").filter(":checked");
          for (var i = 0; i < mlOptions.length; i++) {
            var mlOption = mlOptions.eq(i);
            var label = $("label[for=" + mlOption.attr("id") + "]").text();
            ul.append($("<li />").text(label));
            ul.append("<input type=\"hidden\" name=\"mlIDs[]\" value=\"" + mlOption.val() + "\" />");
          }
          if (ul.children().length > 0) {
            $("#selected_mltitle").prepend(ul);
          }
        });
        $("#sender_close").click(function() {
          $("#sender_list").remove();
          var ul = $("<ul />").attr("id", "sender_list");
          var fromOptions = $(".fromOptions").filter(":checked");
          for (var i = 0; i < fromOptions.length; i++) {
            var fromOption = fromOptions.eq(i);
            var label = $("label[for=" + fromOption.attr("id") + "]").text();
            ul.append($("<li />").text(label));
            ul.append("<input type=\"hidden\" name=\"froms[]\" value=\"" + fromOption.val() + "\" />");
          }
          if (ul.children().length > 0) {
            $("#selected_sender").prepend(ul);
          }
        });
    });
    function pageLink(page) {
      var url = document.URL;
      var pageLink = "";
      if (url.indexOf("&page=") >= 0) {
        pageLink = url.split("&page=")[0] + "&page=" + page;
      } else {
        pageLink = url + "&page=" + page;
      }
      window.location.href = pageLink;
      return false;
    }
    
  </script>
}

@main("MilmSearch", moreScripts) {
  <h1 id="pagetitle">検索結果一覧</h1>
  
  <aside class="searcharea">
  
    @form(action = routes.MailSearch.search) {
      
      <div class="searchbasic">
        <input id="keywords" type="text" name="keywords" placeholder="キーワード" value="@request.keywords" />
        <fieldset class="dateselect">
          <legend>検索対象期間の指定</legend>
          <input id="from2" type="text" name="fromDate" size="10" value="@request.fromDate.toString(Defaults.searchDateFormat)" />
          <p>〜</p>
          <input id="to2" type="text" name="toDate" size="10" value="@request.toDate.toString(Defaults.searchDateFormat)" />
          <p>まで</p>
        </fieldset>
      </div>
      <div class="searchoption">
        <h3>検索対象</h3>
        <fieldset>
          <legend>検索対象</legend>
          <input id="mltitle" name="fields[]" type="checkbox" value="mltitle" @fieldChecked(request.fields, "mltitle") >
          <label for="mltitle">MLタイトル</label>
          <input id="subject" name="fields[]" type="checkbox" value="subject" @fieldChecked(request.fields, "subject") >
          <label for="subject">メールタイトル</label>
          <input id="body" name="fields[]" type="checkbox" value="body" @fieldChecked(request.fields, "body") >
          <label for="body">メール本文</label>
          <input id="from" name="fields[]" type="checkbox" value="from" @fieldChecked(request.fields, "from")>
          <label for="from">送信者</label>
        </fieldset>
      </div>
      
      <div class="searchoption grid">
        <div class="row">
          <div class="column span-2">
            <h3>条件で絞り込む</h3>
          </div>
          <div id="selected_mltitle" class="optselect column span-5">
            @if(request.mlIDs.size > 0) {
              <ul id="mltitle_list">
                @mlOptions.collect { 
                  case MLOption(id, title) if request.mlIDs.contains(id) => {
                    <li>@title</li>
                    <input type="hidden" name="mlIDs[]" value="@id">
                  }
                }
              </ul>
            }
            <div class="optbtn"><a rel="leanModal" href="#divml">＋ MLタイトルを指定する</a></div>
          </div>
          <div id="selected_sender" class="optselect column span-5">
            @if(request.froms.size > 0) {
              <ul id="sender_list">
                @fromOptions.collect { 
                  case from if request.froms.contains(FromOption(from.value)) => {
                    <li>@from.label</li>
                    <input type="hidden" name="froms[]" value="@from.value">
                  }
                }
              </ul>
            }
            <div class="optbtn"><a rel="leanModal" href="#divsend">＋ 送信者を指定する</a></div>
          </div>
        </div>
      </div>
      
      <button type="submit" class="btn decide">検索する</button>
    }
        
    <!-- << MLタイトル選択Modal -->
    <div id="divml" class="modalbox">
      <h3>MLタイトルを指定する</h3>
      <div class="checklist">
        <fieldset>
          <legend>MLタイトルの指定</legend>
          <ul>
            @mlOptions.zipWithIndex.map { case (mlOpt, i) =>
              <li>
                <input id="optmltitle_@i" class="mlOptions" name="mlOptions[]" type="checkbox" value="@mlOpt.id"
                  @if(request.mlIDs.contains(mlOpt.id)) { checked="checked" } />
                <label for="optmltitle_@i">@mlOpt.title</label>
              </li>
            }
          </ul>
        </fieldset>
      </div>
      <div id="mltitle_close" class="btn modal_close"><a href="#">閉じる</a></div>
    </div>
    <!-- MLタイトル選択Modal >> -->
    
    <!-- << 送信者選択Modal -->
    <div id="divsend" class="modalbox ">
      <h3>送信者を指定する</h3>
      <div class="checklist">
        <fieldset>
          <legend>送信者の指定</legend>
          <ul>
            @fromOptions.zipWithIndex.map { case (fromOpt, i) =>
              <li>
                <input id="optsender_@i" class="fromOptions" name="fromOptions[]" type="checkbox" value="@fromOpt.value"
                  @if(request.froms.contains(FromOption(fromOpt.value))) { checked="checked" } />
                <label for="optsender_@i">@fromOpt.label</label>
              </li>
            }
          </ul>
        </fieldset>
      </div>
      <div id="sender_close" class="btn modal_close"><a href="#">閉じる</a></div>
    </div>
    <!-- 送信者選択Modal >> -->
    
  </aside>
      
  <div class="grid archive">
    <div class="pager row">
      <div class="column span-9">
        @helper.paginator(page)
      </div>
      <div class="column span-3">
        <a href="" class="current">新しい順</a>&ensp;/&ensp;<a href="#">古い順</a>
      </div>
    </div>
  
    @page.items.map { mail =>
      <article>
        <aside><a href="@mail.mlURL" tadget="_blank">ML:@mail.mlTitle</a></aside>
        <div class="row">
          <div class="column span-9">
            <h3><a href="@mail.url" target="_blank">@mail.subject</a></h3>
            <p>@mail.snippet</p>
          </div>
          <div class="column span-3">
            <p>
              <date>@mail.date.toString("yyyy/MM/dd")</date><br>
              送信者：@mail.fromAddr.getPersonal
            </p>
          </div>
        </div>
      </article>
    }
  
    <div class="pager">
      <div class="column span-9">
        @helper.paginator(page)
      </div>
    </div>
  
  </div>
}
