@(request: models.search.SearchRequest, page: utils.Page[Mail])

@import helper._
@import models.search._

@main("MilmSearch") {
  <h1 id="pagetitle">検索結果一覧</h1>
  
  <aside class="searcharea">
  
    @form(action = routes.Application.search) {
      
      <div class="searchbasic">
        <input id="keywords" type="text" name="keywords" placeholder="キーワード" value="@request.keywords" />
        <fieldset class="dateselect">
          <legend>検索対象期間の指定</legend>
          <input id="from2" type="text" name="from2" size="10" value="@request.fromDate.toString(Defaults.searchDateFormat)" />
          <p>〜</p>
          <input id="to2" type="text" name="to2" size="10" value="@request.toDate.toString(Defaults.searchDateFormat)" />
          <p>まで</p>
        </fieldset>
      </div>
      <div class="searchoption">
        <h3>検索対象</h3>
        <fieldset>
          <legend>検索対象</legend>
          <input id="mltitle" name="fields[]" type="checkbox" value="mltitle" @fieldChecked(request.fields, "mltitle") >
          <label for="mltitle">MLタイトル</label>
          <input id="subject" name="fields[]" type="checkbox" value="subject" @fieldChecked(request.fields, "subject") >
          <label for="subject">メールタイトル</label>
          <input id="body" name="fields[]" type="checkbox" value="body" @fieldChecked(request.fields, "body") >
          <label for="body">メール本文</label>
          <input id="from" name="fields[]" type="checkbox" value="from" @fieldChecked(request.fields, "from")>
          <label for="from">送信者</label>
        </fieldset>
      </div>
      <div class="searchoption grid">
        <div class="row">
          <div class="column span-2">
            <h3>条件で絞り込む</h3>
          </div>
          <div id="" class="optselect column span-5">
            @* MLタイトルも送信者も、デフォルトはul、liがない状態 *@
            <div class="optbtn"><a rel="leanModal" href="#divml">＋ MLタイトルを指定する</a></div>
          </div>
          <div class="optselect column span-5">
            @* MLタイトル、送信者を指定すると、選択された条件が下記のようにul、liで表示される *@
            <ul>
              <li>チェックした条件が入りますチェックした条件が入りますチェックした条件が入ります</li>
              <li>チェックした条件が入ります</li>
              <li>チェックした条件が入ります</li>
            </ul>
            <div class="optbtn"><a rel="leanModal" href="#divsend">＋ 送信者を指定する</a></div>
          </div>
        </div>
        <div id="divml" class="modalbox">
          <h3>MLタイトルを指定する</h3>
          <div class="checklist">
            <fieldset>
              <legend>MLタイトルの指定</legend>
              <ul>
                @* <<繰り返し *@
                <li>
                  <input name="optmltitle" type="checkbox" id="optmltitle" value="optmltitle01">
                  <label for="optmltitle01">MLタイトルが入ります</label>
                </li>
                @* 繰り返し>> *@
              </ul>
            </fieldset>
          </div>
          <div class="btn modal_close"><a href="#">閉じる</a></div>
        </div>
        <div id="divsend" class="modalbox ">
          <h3>送信者を指定する</h3>
          <div class="checklist">
            <fieldset>
              <legend>送信者の指定</legend>
              <ul>
                @* <<繰り返し *@
                <li>
                  <input name="optsender" type="checkbox" id="optsender" value="optsender01">
                  <label for="optsender01">送信者が入ります</label>
                </li>
                @* 繰り返し>> *@
              </ul>
            </fieldset>
          </div>
          <div class="btn modal_close"><a href="#">閉じる</a></div>
        </div>
      </div>
      <button type="submit" class="btn decide">検索する</button>
      
    }
    
  </aside>
      
  <div class="grid archive">
    <div class="pager row">
      <div class="column span-9">
        1〜10件&ensp;/&ensp;30件<a href="#">&lt;&lt;</a>
        <a href="" class="current">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">&gt;&gt;</a>
      </div>
      <div class="column span-3">
        <a href="" class="current">新しい順</a>&ensp;/&ensp;<a href="#">古い順</a>
      </div>
    </div>
  
    <article>
      <aside><a href="" tadget="_blank">ML:ML名が入ります。外部アーカイブページにリンク</a></aside>
      <div class="row">
        <div class="column span-9">
          <h3><a href="" target="_blank">MLのスレッド名が入ります。外部アーカイブページにリンクします。</a></h3>
          <p>メールの冒頭分がはいりますメールの冒頭分がはいりますメールの冒頭分がはいりますメールの冒頭分がはいります</p>
        </div>
        <div class="column span-3">
          <p>
            <date>yyyy/mm/dd</date><br>
            送信者：なまえがはいります
          </p>
        </div>
      </div>
    </article>
  
    <div class="pager">
      <div class="column span-9">
        1〜10件&ensp;/&ensp;30件<a href="#">&lt;&lt;</a>
        <a href="" class="current">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">&gt;&gt;</a>
      </div>
    </div>
  
  </div>
}
